header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightblue;
}
body {
    background-color:
}
p {
    font-size: 200%;
    text-align: center;
}
.title {
    font-size: 500%;

}
.board {
    margin-top: 40px;
    text-align: center; 
}

.spelare{
    display: inline;
}

#player {
    font-family: 'Lucida Lans';  
    font-size: 200%;
    margin-right: 200px;    
}

#computer {
    font-family: 'Lucida Lans';
    font-size: 200%;
    margin-left: 200px;
}
#player-score {
    font-size: 250%;
    margin-right: 250px; 
}
#computer-score {
    font-size: 250%;
    margin-left: 250px;
}
#outcome {
    font-size: 200%;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.choices {
    text-align: center;
}

.choice {
    display: inline;
}

.choice:hover {
    cursor: pointer;
}

#stenbild {
    height: 136px;
    width: 120px;
}

#saxbild {
    height: 136px;
    width: 120px;
}

#restartdiv {
    text-align: center;
}

#restart {
    height: 40px;
    margin-top: 30px;
    display: inline;
}

#restart:hover {
    cursor: pointer;
}