@keyframes fadein {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes jiggle {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.btn {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 1.5rem;
  border-radius: 10rem;
  transition: all .2s;
  background-color: white;
  color: grey;
  border: none;
  cursor: pointer; }
  .btn:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); }
  .btn:active, .btn:focus {
    outline: none;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.grid {
  display: grid;
  height: 100vh;
  background-color: #F5C742;
  justify-content: center;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: 232px 10px 50px 200px 200px 20px;
  transition: all .2s; }

.items--1 {
  justify-self: center;
  transform: scale(0.75);
  grid-column: 1 / -1; }

.linje {
  border-bottom: 4px solid black;
  grid-row: 2;
  grid-column: 1 / -1; }

.items--2 {
  justify-self: center;
  transform: scale(0.6);
  grid-row: 3;
  grid-column: 1 / -1; }

.items--3 {
  justify-self: center;
  align-self: center;
  transform: scale(0.6);
  grid-row: 4;
  grid-column: 1 / 2;
  transition: all .5s; }
  .items--3:hover {
    cursor: pointer;
    transform: scale(0.65); }
  .items--3--effect {
    animation: jiggle .6s ease;
    animation-iteration-count: 4;
    animation-delay: .1s;
    opacity: 0; }

.items--4 {
  justify-self: center;
  align-self: center;
  transform: scale(0.6);
  grid-row: 4;
  grid-column: 2 / 3;
  transition: all .5s; }
  .items--4:hover {
    cursor: pointer;
    transform: scale(0.65); }
  .items--4--effect {
    animation: jiggle .6s ease;
    animation-iteration-count: 4;
    animation-delay: .2s;
    opacity: 0; }

.items--5 {
  justify-self: center;
  align-self: center;
  transform: scale(0.6);
  grid-row: 4;
  grid-column: 3 / 4;
  transition: all .5s; }
  .items--5:hover {
    cursor: pointer;
    transform: scale(0.65); }
  .items--5--effect {
    animation: jiggle .6s ease;
    animation-iteration-count: 4;
    opacity: 0; }

.items--6 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  height: 70px;
  width: 70px;
  background-color: white;
  border: 3px solid black;
  border-radius: 90px;
  justify-self: center;
  align-self: center;
  grid-row: 5;
  grid-column: 1 / 2; }

.items--7 {
  justify-self: center;
  align-self: center;
  transform: scale(0.6);
  grid-row: 5;
  grid-column: 2 / 3; }

.items--8 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  height: 70px;
  width: 70px;
  background-color: white;
  border: 3px solid black;
  border-radius: 90px;
  justify-self: center;
  align-self: center;
  grid-row: 5;
  grid-column: 3 / 4; }

.items--9 {
  justify-self: center;
  font-size: 1.5rem;
  grid-row: 6;
  grid-column: 1 / -1;
  transition: all .5s; }

.outcome {
  animation: fadein 3s ease;
  opacity: 0;
  font-family: sans-serif; }

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  visibility: hidden;
  opacity: 0;
  z-index: 9999;
  transition: all .3s; }
  .popup__content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 30vh;
    background-color: #F5C742;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 12px; }
  .popup--open {
    opacity: 1;
    visibility: visible; }
  .popup__text {
    padding-top: 50px;
    font-size: 3rem;
    font-family: sans-serif;
    text-align: center; }

.btn {
  position: absolute;
  left: 50%;
  top: 80%;
  transform: translate(-50%, -50%); }
